.title{
    text-align: center;
    margin: 10px 0 30px 0;
}

.yoyakuTable{
    display: flex;
    flex-wrap: wrap;
}

.line{
    border-top: 1px solid black;
    width: 80%;
    margin: 0 auto;
}

.yoyaku{
    margin-left: 10%;
    margin-bottom: 40px;
    width: 20%;
    height: 160px;
    border: 1px solid black;
    border-radius: 14px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.yoyaku:hover{
    background-color: gray;
}

.checked{
    background-color: gray;
}

.form{
    margin-top: 30px;
    text-align: center;
}

.form label {
    font-size: 20px;
}

.form input {
    font-size: 20px;
    margin-bottom: 20px;
}

.form .name,.num,.phoneNumber {
    width: 280px;
}